[submodule "vendor/co-tracker"]
	path = vendor/co-tracker
	url = https://github.com/facebookresearch/co-tracker.git
[submodule "vendor/locotrack"]
	path = vendor/locotrack
	url = https://github.com/cvlab-kaist/locotrack.git
